/* .content {
  grid-area: content;
  background-color: rgba(5, 224, 170, 0.733);
  border-radius: 10px;
} */



.app-wrapper-content .content__main {
  padding: 10px 20px;
}

.app-wrapper-content .posts .new-post {
}

.app-wrapper-content .posts .posts__wrapper {
}

.app-wrapper-content .posts .posts__wrapper .post {
}
.app-wrapper-content .posts .posts__wrapper .post .person-avatar {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 50px;
}
