.content__main {
  .posts {
    .my-posts {
      margin: 0;
      padding: 0;
      margin-bottom: 12px;
    }
    .new-posts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
      position: relative;
      textarea {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        height: 50px;
        resize: none;
        /* border: none; */
        outline: none;
        box-sizing: border-box;
        margin-bottom: 11px;
        &:focus {
          outline: 2px solid rgb(0, 47, 255);
        }
      }
      button {
        padding: 2px 25px 2px 15px;
        align-self: flex-end;
        color: rgb(65, 43, 14);
        background-color: chartreuse;
        border: none;
        outline: none;
        box-sizing: content-box;
        transition: all 0.3s;
        &:hover,
        &:focus {
          box-shadow: 0 3px 10px 0 rgba(69, 10, 11, 0.12);
          background-color: rgb(122, 240, 4);
        }
      }
    }

    .posts__wrapper {
        .post-enter-active {
            animation: post 800ms ease-in alternate-reverse;
        }
    }
  }
}

@keyframes post {
    0% {
      transform: translateX(0);
    }
  
    30% {
      opacity: .7;
      transform: translateX(30px);
    }
  
    100% {
      opacity: 0;
      transform: translateX(-200px);
    }
  
  }
  