.find-friends {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-friends .find-friends__title {
  margin: 0 0 10px;
}
.find-friends .pagination-wrapper {
  margin: 0 0 30px;
}
.find-friends .pagination-wrapper .pagination-number {
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  margin: 0 3px;
  padding: 5px 5px;
  min-width: 26px;
}

.find-friends .pagination-wrapper .pagination-number:focus, 
.find-friends .pagination-wrapper .pagination-number:hover {
  border-radius: 50%;
  font-weight: 600;
  color: brown; 
  background-color: rgb(178, 243, 227);
}

.find-friends .pagination-wrapper .pagination-number.current {
  border-radius: 50%;
  font-weight: 600;
  background-color: rgb(178, 243, 227);
}
.find-friends .user {
  display: flex;
  max-height: 250px;
  margin-bottom: 20px;
  width: 60%;
}

.find-friends .user .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.find-friends .user .left .user-avatar {
  width: 70px;
  border-radius: 50%;
}
.find-friends .user .left .follow-btn {
  margin-top: 10px;
  cursor: pointer;
}
.find-friends .user .right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: rgb(255, 254, 245);
  border-radius: 10px;
  padding: 15px;
  border: 1px solid rebeccapurple;
}
.find-friends .user .right .user-full-name {
  font-size: 18px;
  color: blue;
}
.find-friends .user .right .user-status {
  margin-top: auto;
}
.find-friends .user .right .location {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
}
.find-friends .show-more-btn {
  margin-top: 20px;
  cursor: pointer;
}
