.header {
  border-radius: 0 0 10px 10px;
  grid-area: header;
  background: #f0fc03;
}

.header .header__container {
  display: flex;
  align-items: center;
}
.header .header__container .header__auth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__auth {
  padding-top: 6px;
  padding-bottom: 10px;
  padding-right: 25px;
}
.header .header__auth .preLoader {
  height: 40px;
  width: 40px;
  margin-right: 30px;
  margin-bottom: 5px;
}
.header .header__auth .preLoader::after {
  border: 15px solid rgb(74, 46, 230);
  border-color: rgb(74, 46, 230) transparent rgb(74, 46, 230) transparent;
}

.header .auth__name {
  display: flex;
  align-items: center;
  
}


.header .auth__name:visited {
  text-decoration: none;
}
.header .auth__name span {
  white-space: nowrap;
  display: inline-block;
  color: rgb(4, 1, 34);
  font-size: 18px;
}

.header .auth__avatar {
  max-width: 45px;
  margin-right: 12px;
  cursor: pointer;
}

.header .auth__log-out-btn {
  margin-left: 5px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all .3s;
  cursor: pointer;
}
.header .auth__log-out-btn:focus {
  border: 1px solid black;
}
.header .auth__log-out {
  transition: all .3s;
}
.header .auth__log-out-btn .auth__log-out path {
  fill: rgba(255, 83, 4, 0.904);
  transition: all .3s;
}
.header .auth__log-out-btn:hover .auth__log-out path {
  fill: rgba(66, 0, 97, 0.904);
}
.header .auth__log-out-btn:hover .auth__log-out {
  /* width: 28px;
  height: 28px; */
  transform: scale(1.2);
}


.header .auth__name span {
  white-space: nowrap;
  display: inline-block;
}
.header .auth__btn {
  white-space: nowrap;
  text-decoration: none;
  display: flex;
  margin-left: 30px;
  padding: 5px 15px 4px;;
  height: 25px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: rgba(64, 159, 248, 0.8);
  transition: all 0.3s;
}
.header .auth__btn:hover {
  border: 1px solid rgb(15, 112, 202);
  box-shadow: 0 3px 10px 0 rgba(69, 10, 11, 0.12);
  color: rgb(255, 255, 255);
  background-color: rgba(64, 159, 248, 0.8);
}

.header .header__logo {
  height: 100%;
  width: 100%;
  align-items: center;
  display: inline-block;
  margin-left: 5px;
}
.header .header__logo img {
  width: 50px;
  margin: 5px 0;
}
/* .header .header__logo svg {
  width: 80px;
  margin: 5px 0;
} */
