.nav {
    grid-area: nav;
    display: flex;
    padding: 0 10px 50px;
    flex-direction: column;
    background: #ffea00;
    border-radius: 10px;
    max-height: 533px;
  }
  .nav .nav__links a {
    display: inline-flex;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s;
    position: relative;
    margin-top: 7px;
  }
  .nav .nav__links:first-child {
    margin-top: 10px;
  }
  .nav .nav__links:last-child {
    margin-top: 25px;
  }
  
  .nav .nav__links a:hover {
    color: rebeccapurple;
  }
  .nav .nav__links a.active {
    color: rgb(110, 133, 245);
  }
  .nav .nav__links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  .nav .nav__links a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1px;
    left: 0;
    background-color: rgb(254, 80, 0);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }