.profile {
  .preLoader {
    display: block;
    margin: 80px auto;
  }
  .slider {
    background-color: rgba(72, 232, 193, 0.5);
    border-radius: 10px;
  }
  .main-pic {
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    border-radius: 6px;
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 95%);
  }
  .details {
    padding: 0 10px;
    // max-height: auto;
    height: auto;
    overflow: hidden;
    // transform: scaleY(0);
    // transition: all 0.3s;

    &.active {
      & {
        animation: popUp 400ms ease-in;
        // transform: scaleY(1);
        // max-height: 100%;
        // height: 100%;
      }
    }
    &__wrapper {
      
    }
    &__trigger,
    &__triangle {
      transition: all 0.3s;
    }
    &__trigger {
      cursor: pointer;
      width: 100%;
      background-color: rgba(#000, 0.1);
      border: none;
      font-size: 16px;
      color: rgb(24, 25, 29);
      font-family: var(--changa-font);
      &.active {
        color: #fff;
        background-color: rgba(#000, 0.3);
        .details__triangle {
          fill: #fff;
          transform: rotate(-90deg) translateX(-2px);
        }
      }
      &:hover,
      &:focus {
        color: #fff;
        background-color: rgba(#000, 0.3);

        .details__triangle {
          fill: #fff;
        }
      }
    }
    &__triangle {
      margin-left: 10px;
      transform: rotate(90deg) translateX(2px);
    }

      .aboutMe {
      }
      .contacts {
        margin: 0;
        padding: 0;
        list-style: none;
        &__item {
        }
      }
      .looking-for-a-job {
      }
      .looking-for-a-job__description {
      }
    
  }
  .description-block {
    display: flex;
    padding: 20px 20px 10px;
  }
  .user-avatar__container {
    max-width: 180px;
    margin-right: 30px;
    .avatar {
      width: 100%;
      border: 5px outset #f8b20f;
      border-radius: 10px;
      margin-left: -5px;
    }
  }
  .user-bio {
    width: 100%;
    .user__fullname {
      margin: 0 0 0 -15px;
      padding-left: 15px;
      border-radius: 6px;
      width: 100%;
      background-color: rgb(229, 255, 0);
      line-height: 1.2;
      font-size: 32px;
      font-family: var(--changa-font);
    }
    .user__status {
      margin: 5px 0;
      font-family: var(--changa-font);
      font-size: 18px;
      color: rgb(25, 51, 36);
      position: relative;
      cursor: pointer;
    }
    .change-status-area {
      position: relative;
      z-index: 3;
      animation: fullWidth 0.3s ease-out;
      width: 100%;
      font-size: 18px;
      padding: 5px;
      margin: 8px 0 8px -15px;
    }
    .hidden {
      display: none;
    }
    .user__looking-for-a-job {
      color: rgb(99, 112, 110);
      font-weight: 600;
      font-family: var(--fondamento-font);
    }
  }
  @keyframes popUp {
    0% {
      height: 0;
      max-height: 0;
      transform: scaleY(0);
    }
    10% {
      max-height: 10%;
      transform: scaleY(0.1);
    }
    20% {
      max-height: 20%;
      transform: scaleY(0.2);
    }
    100% {
      height: 100%;
      max-height: 100%;
      transform: scaleY(1);
    }
  }
  @keyframes closeDetails {
    0% {
      height: 100%;
      overflow: auto;
    }
    100% {
      overflow: hidden;
      height: 0;
      opacity: 0;
    }
  }
  @keyframes fullWidth {
    0% {
      opacity: 0;
      width: 30%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
}
