/* :root {
    --post-font: Verdana, Geneva, Tahoma, sans-serif;
} */

.posts .posts__wrapper .post {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
    
}

.posts .posts__wrapper .post .post__content {
    color: rgb(0, 0, 0);
    font-size: var(--post-font-size);
    margin-left: 12px; 
    margin-top: 0;
    font-family: var(--post-font);
}
.posts .posts__wrapper .post .likes-count {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 1px;
    cursor: pointer;
    font-family: var(--post-font);
    font-weight: 500;
}
.posts .posts__wrapper .post .ava {
    min-width: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
}
.posts .posts__wrapper .post .person-avatar {
    width: 100%;
    border-radius: 50%;
    
}
