.form-control {
  width: 100%;
  position: relative;
  &.error input,
  &.error textarea {
    border: 2px red solid;
  }
  &.error span {
    color: white;
  }
  .form__details-info {
    background-color: rgb(184, 3, 3);
    position: absolute;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    top: 0px;
    left: calc(100% + 31px);
    width: 100%;
    .triangle {
      position: relative;
      &::after {
        top: -4px;
        left: -33px;
        content: "";
        position: absolute;
        border: 14px solid transparent;
        border-right: 14px solid #b80303; /* Добавляем треугольник */
      }
    }
    @media (max-width: 1080px) {
        background-color: #b80303;
        position: absolute;
        padding: 5px;
        border-radius: 10px;
        top: -42px;
        left: 0;
        width: 100%;
      .triangle {
        position: relative;
        &::after {
          content: "";
          position: absolute; /* Абсолютное позиционирование */
          left: 20px;
          top: 23px; /* Положение треугольника */
          border: 10px solid transparent; /* Прозрачные границы */
          border-top: 10px solid #b80303; /* Добавляем треугольник */ /* Добавляем треугольник */
        }
      }
      &.password {
        top: 50px;
        .triangle {
            position: relative;
            &::after {
              content: "";
              position: absolute; /* Абсолютное позиционирование */
              left: 20px;
              top: -25px; /* Положение треугольника */ /* Добавляем треугольник */ /* Добавляем треугольник */
              border: 10px solid transparent; 
              border-bottom: 10px solid  #b80303;
            }
          }
      }
    }
  }
}
