.login-page {
  padding: 30px 10px;
  font-family: var(--montserrat-font);
  .login__title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
  }
  .login-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .input__wrapper {
      width: 250px;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      span {
        // margin-left: 8px;
        cursor: pointer;
      }
      .login-field,
      .password-field {
        width: 100%;
        font-size: 18px;
        height: 22px;
        padding: 5px;
        // border-radius: 0 10px 0 10px;
        outline: none;
        font-family: var(--changa-font);
        transition: all 0.3s;
        &:focus {
          border: 2px solid blue;
          // border-radius: 10px 0 10px 0;
          box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.22);
        }
      }
      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:focus {
          // border: 2px solid blue;
          box-shadow: none;
        }
      }
    }
    .form__error {
      margin-bottom: 15px;
      font-family: var(--changa-font);
      font-size: 22px;
      color: rgb(185, 7, 7);
    }
    .form__btn {
      font-family: var(--changa-font);
      padding: 5px 10px;
      font-size: 18px;
      font-weight: 600;
      padding: 3px 15px;
      background-color: rgb(148, 250, 144);
      outline: none;
      border: 1px solid brown;
      // border-radius: 0 10px 0 10px;
      transition: all 0.3s;
      cursor: pointer;
      // &:focus {
      //   // border-radius: 10px 0 10px 0;
      //   box-shadow: 0 3px 10px 0 rgba(69, 10, 11, 0.12);
      // }
      &:hover,
      &:focus {
        // border-radius: 10px 0 10px 0;
        box-shadow: 0 3px 10px 0 rgba(69, 10, 11, 0.12);
        background-color: lighten(rgb(148, 250, 144), 5%);
        backdrop-filter: blur(10px);
      }
    }
  }
}
