
.news {
    .loop-container {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .loop-item {
        margin-right: 4px;
        font-weight: 600;
        font-family: var(--changa-font);
        line-height: 1.1;
    }
}