body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
ul,
ol,
li,
h1,
div,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --post-font: Verdana, Geneva, Tahoma, sans-serif;
  --fondamento-font: "Fondamento", cursive;
  --montserrat-font: "Montserrat Subrayada", sans-serif;
  --changa-font: "Changa", sans-serif;
  --post-font-size: 16px;
  
}
#root {
  width: 100vw;
  height: 100vh;
}
.app-wrapper {
  display: grid;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  background-color: rgba(5, 224, 170, 0.733);
  border-radius: 10px;
  position: relative;
}

/* Loader */

.preLoader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.preLoader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: preLoader 1.2s infinite;
}
.preLoader.initialize {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 160px;
 height: 160px;
}
.preLoader.initialize::after {
  border: 64px solid rgb(55, 4, 197);
  border-color: rgb(55, 4, 197) transparent rgb(55, 4, 197) transparent;
}
@keyframes preLoader {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* Loader */
