/* .content {
    grid-area: content;
    background-color: rgba(5, 224, 170, 0.733);
    border-radius: 10px;
} */

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialog {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.dialogs .dialog:hover {
  margin-left: 4px;
}

.dialogs .dialog .dialog__avatar {
  max-width: 40px;
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

.dialogs .dialogs__items {
  padding: 10px;
  margin-left: 5px;
}
.dialogs .dialogs__items .dialog {
  padding-bottom: 10px;
}
.dialogs .dialogs__items .dialog a {
  color: black;
  text-decoration: none;
}

.dialogs .dialogs__items .dialog:hover a {
  color: blue;
  font-size: 18px;
  font-weight: bolder;
}
.dialogs .dialogs__items .dialog.active a {
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

.dialogs .messages {
  position: relative;
  overflow: auto;
  padding: 10px 10px 10px 10px;
  width: 80%;
  max-height: 500px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: radial-gradient(
    circle,
    rgba(0, 249, 137, 1) 0%,
    rgba(5, 224, 170, 1) 62%
  );
  border-radius: 0 10px 10px 0;
  border-left: 2px solid rgba(198, 10, 245, 0.445);
}

/* input field and sending messages */
/* .dialogs .messages .container {
  display: flex;
 position: relative;
  bottom: 25px;
  width: 40%;
  height: 60px;
  /* transform: translateY(78px); */
.dialogs .messages .input-wrapper {
  display: flex;
  align-items: center;
  margin-top: auto;
  width: 100%;
  position: relative;
}
.dialogs .messages .input-wrapper .input-message-field {
  width: 100%;
  position: relative;
  padding: 10px 40px 10px 10px;
  font-size: 15px;
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
}
.dialogs .messages .input-wrapper .input-message-field:focus {
  /* outline: 1px solid rgb(0, 47, 255); */
  box-shadow: 1px 1px 3px rgb(0, 47, 255);
}
.dialogs .messages .input-wrapper .arrow {
  position: absolute;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  right: 0;
}
.dialogs .messages .input-wrapper .arrow img {
}

/* input field and sending messages */

.dialogs .messages .message {
  padding: 5px 10px;
  background-color: rgb(206, 156, 253);
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  width: auto;
  align-self: flex-start;
}
.dialogs .messages .message__inner {
  color: white;
  font-size: 14px;
}
.dialogs .messages .message:nth-child(odd) .message__inner {
  color: rgb(255, 255, 255);
}
.dialogs .messages .message:nth-child(odd) {
  align-self: flex-end;
  background-color: rgb(60, 47, 243);
}
